[2015-05-25 04:18] jazzsaxmafia opened #1 "Datasets in .pkl format?"
Hello, thank you for sharing this great project.

I would like to run the code, but it seems like the project does not contain the datasets used. Even though I can get flickr or coco dataset but I do not know how the data is preprocessed in those .pkl files.

Can I possibly get the data as it is used in the project?

Thank you.

[2015-05-25 06:52] kelvinxu commented on #1
Hey, thanks for your question. Unfortunately, the preprocessed datasets are still quite large so we have no resources to host all of them at the moment. What we can do however is add some preprocessing instructions so that you can extract the same features using an open source tool.  We will try to do so in the next few days.

[2015-05-27 00:54] jnhwkim commented on #1
@jazzsaxmafia @kelvinxu I've also encountered the same problem.

[2015-05-28 02:15] leo-zhou commented on #1
@kelvinxu Could you provide some simple information about the pkl file? For example, what's in the pkl file and their structures. Thank you very much. The preprocessing instruction is nicer if it won't take too long.

[2015-05-28 05:24] jnhwkim opened #2 "RuntimeWarning: numpy.ndarray size changed, may indicate binary incompatibility"
<pre>/Users/Calvin/anaconda/lib/python2.7/site-packages/theano/scan_module/scan_perform_ext.py:133: RuntimeWarning: numpy.ndarray size changed, may indicate binary incompatibility
  from scan_perform.scan_perform import *</pre>

This is due to the my version of numpy? I googled about it but I can't get a good answer, though I found someone said it's just fine.

[2015-05-28 07:16] jnhwkim commented on #1
@leo-zhou Just reference, it's my tentative guess.
data.pkl -> first dump: `cap`, second dump: `feat`
`cap` -> `[[sentence, feature #], ... ]`
`feat`-> `numpy.array(vgg_conv4).shape[N, 1, L x D]`

dictionary.pkl -> `[[word, word #], ... ] `
(word # starts from 2, (= frequency rank + 1), 0 and 1 are reserved by the program.)

[2015-05-28 11:28] kyunghyuncho commented on #2
@jnhwkim I think it should work fine regardlessly. @kelvinxu and I will look into it more.

[2015-05-28 11:28] #2 closed

[2015-05-28 11:59] kyunghyuncho commented on #1
@leo-zhou
@jnhwkim is correct, except that ``feat`` is saved as a sparse matrix of shape ``[N, 14 * 14 * 512]``. In the dictionary (dictionary.pkl), 0 and 1 are reserved for the end of caption and a unknown word.

[2015-05-28 12:01] jnhwkim commented on #1
@kyunghyuncho Oh, I got it. This is so why you've used `ff.todense()` in `coco.py:38`. Thanks!

[2015-05-28 12:05] leo-zhou commented on #1
@jnhwkim @kyunghyuncho Thanks a lot !

[2015-05-28 12:36] jazzsaxmafia commented on #1
Thank you very much. I think those were enough for me to set the data myself

[2015-05-28 16:07] kelvinxu commented on #2
This should work fine, it is a harmless warning. You can read the full explanation here.

https://groups.google.com/forum/#!topic/theano-users/A__NVIBYMxA

[2015-05-28 20:26] kelvinxu commented on #1
@jnhwkim, very minor addition to prevent confusion is that the dictionary.pkl is not a list, but is a python dictionary in the form `{word : word #}`. Thanks!

[2015-05-28 22:29] jnhwkim commented on #1
@kelvinxu Yes, you're right. For preventing confusion, I'll update my comment.

[2015-05-28 23:10] hyunseokmin opened #3 "MissingInputError from theano.function"
Hello, thank you for sharing.

I tried to generate caption for my image. To that end, I follows your code. I made a model file with capgen.train function (using Flickr8k data and default parameters).

Based on the model, I tried to generate a caption. However, I meet an error. The error is ...

---------------------------------------------------------------------------
MissingInputError

[2015-05-29 04:20] hyunseokmin opened #4 "Training parameters for Flickr30k, coco dataset?"
Hello, thank you for sharing.

Shared source contains training parameters for Flickr8k dataset.
Can I use the same parameters for Flickr30K and coco dataset?

Thank you ^^;

[2015-05-29 17:44] kelvinxu commented on #4
The `evaluate_coco.py` function should give you the parameters for MS COCO. For Flickr30k, you can just try playing with the hidden state size to something like 1300. You should get something similar.

[2015-05-29 17:47] kelvinxu commented on #3
Strange, this works for me. How did you obtain your model? Did you just use the default parameters in the train function in `capgen.py`?

[2015-05-30 03:23] hyunseokmin commented on #3
Yes. I used the default parameters in the train function in capgen.py.

[2015-05-30 22:35] #4 closed

[2015-05-30 23:42] hyunseokmin commented on #3
Hi,

I used 0. for a value of alpha_c. how can I use doubly stochastic regularization?

[2015-06-01 00:12] hyunseokmin commented on #3
it is more detail error description.

MissingInputError: A variable that is an input to the graph was neither provided as an input to the function nor given a value. A chain of variables leading from this input to an output is [<TensorType(float32, matrix)>, dot.0, DimShuffle{0,x,1}.0, Subtensor{::, ::, ::}.0, Elemwise{add,no_inplace}.0, Elemwise{tanh,no_inplace}.0, DimShuffle{0,1,2}.0, Reshape{2}

[2015-06-01 01:32] kelvinxu commented on #3
I was able to reproduce the bug. Thanks for helping me find it. I'll push a fix soon.

[2015-06-01 01:47] kelvinxu commented on #3
I just pushed a fix, let me know if it solves your problem.

[2015-06-01 03:47] hyunseokmin commented on #3
Thanks. It works.
^^:

[2015-06-01 03:48] #3 closed

[2015-06-04 18:17] zcyang opened #5 "cannot replicate the result in the paper?"
I ran the default configuration, it seems there is moderate gap between the result reported in the paper?

[2015-06-04 18:39] kelvinxu commented on #5
Can you provide more details about your setup?

[2015-06-04 19:12] zcyang commented on #5
I ran the experiment on coco dataset. I prepared the dataset according to the instructions, the split is the same. For the image, I up sampled the short side of image to 256 and take the center 224 x 224 patch.

I do the training by using the default configuration in evaluate_coco.py. It takes one day to train, which is different from the three days in the paper. It's because it early stops at Epo

[2015-06-04 19:24] kelvinxu commented on #5
That time was meant as a conservative upper bound. There have been a lot of speed up merged into Theano since we did those experiments 5 months ago. I suspect if you run it again in a few months it will be even faster.

One thing the code doesn't do by default which we talk about in our paper is early-stopping on Bleu. The current setup is using early stopping on NLL. I suspect if you use the mode

[2015-06-04 20:11] zcyang commented on #5
Thanks for the comments. I recognized the difference between NLL and bleu score. I tried model with earlier epoch that has larger NLL and the bleu score is high than the best model (by NLL), but the difference is not significant.

[2015-06-04 20:34] kelvinxu commented on #5
Great, if you have any further questions don't hesitate to post them back here. For now I'll just close this.

[2015-06-04 20:34] #5 closed

[2015-06-07 02:32] hyunseokmin opened #6 "Feature extraction"
Hello, thank you for sharing this great project.

I would like to run the code for caption generation of my own image. To that end, I tried to extract image feature vector with VGG model (based on the paper). I used below code for extract feature vector (values of conv5_3).

-----------------------
input_img = numpy.array( caffe.io.load_image(path_img) ) #loading images HxWx3 (RGB)
caffe_input = n

[2015-06-08 23:14] #6 closed

[2015-06-09 15:43] kelvinxu commented on #6
hey hyunseok, sorry for the delayed response.  In caffe, after you use the forward method, you can recover the activations by accessing the caffe_net.blobs dictionary. One thing to remember is that you'll need to reshape the image and center crop as we described in the paper. Hope that helps.

[2015-06-10 05:15] hyunseokmin commented on #6
Thank you. I can extract image feature using VGG 19 layer model, (conv5_4 layer).

[2015-07-08 05:48] zhongwen opened #7 "bias term has been added twice in LSTM layer"
Both the codes in the function `_step(m_, x_, h_, c_)` from [here](https://github.com/kelvinxu/arctic-captions/blob/master/capgen.py#L240) and in computing `state_below` from [here](https://github.com/kelvinxu/arctic-captions/blob/master/capgen.py#L252) add the bias term, which seems to be wrong. Could you please have a look? Or if it is correct, could you please explain it a bit? Thx.

[2015-07-12 12:03] zhongwen opened #8 "Typo in the arXiv & ICML paper"
From the [code](https://github.com/kelvinxu/arctic-captions/blob/master/capgen.py#L685) and Pascanu et. al, I think that Eqn 7 in the arXiv version (or Eqn 2 in the ICML version) should add a `tanh` after `L_0`.

And is a `y_t` missing in the same equation as well? From Bahdanau et al. Appendix part Page 14, `p(y_i | s_i, y_{i-1}, c_i)`

[2015-07-12 23:04] kelvinxu commented on #7
Yeah this is an unnecessary add. I noticed it later but I forgot to fix it here. It shouldn't change the results but thanks for pointing it out!

[2015-07-12 23:04] #7 closed

[2015-07-12 23:05] kelvinxu commented on #8
We'll push an updated version of the paper to arxiv soon and clarify this. Thanks for pointing it out!

[2015-07-12 23:05] #8 closed

[2015-07-23 06:52] samim23 commented on #1
Any news on the preprocessing instructions or even the preprocessed datasets upload? Great library, bit improved documentation would be welcome though.

[2015-07-24 05:56] kelvinxu commented on #1
Hey samim23,

The feature extraction procedure was described in the paper (you should extract conv5_4), but I agree that it should be explained reproduced somewhere here in the repo.

[2015-08-09 09:38] jazzsaxmafia opened #9 "Question about sampling in stochastic attention"
Hello, while analyzing the source code, I found the process of getting alpha_sample by stochastic hard attention quiet not clear, mainly because of the variable 'h_sampling_mask'

The sampling part of the code is (in capgen.py, line 409),
alpha_sample = h_sampling_mask * trng.multinomial(pvals=alpha,dtype=theano.config.floatX)\
                                  + (1.-h_sampling_mask) * alpha

When

[2015-08-09 18:59] kelvinxu commented on #9
We only sample half the time. In other cases, we simple use the expected value as explained in the bottom half of page 5 of the arxiv paper.

[2015-08-09 22:59] jazzsaxmafia commented on #9
Ah so sampling for half of the time, and use deterministic attention for rest of the time. Now it is clear. Thank you.

[2015-08-09 23:21] kelvinxu commented on #9
No problem.

[2015-08-09 23:21] #9 closed

[2015-08-17 21:26] asampat3090 commented on #1
Has anyone gotten the dataset conversion working? If so, it would be great if you could share the code. Will be trying this myself as well.

[2015-09-17 19:37] cxj273 commented on #1
@asampat3090 I saw you have implemented the code of dataset conversion. Can you reproduce the results in Kelvin's paper? Thanks.

[2015-09-17 19:38] ffmpbgrnn commented on #1
Hey guys, anyone succeeded in generating the pkl file? Any link would be very helpful! Thank you.

[2015-09-17 19:54] asampat3090 commented on #1
@cxj273 I haven't actually tried. I'll try this weekend. @ffmpbgrnn check out my code - I have a generator for the flickr_30k, but I haven't documented much though.

[2015-09-17 19:58] ffmpbgrnn commented on #1
@asampat3090 I will have a look. Many thanks! :-)

[2015-10-01 08:31] gamer13 commented on #1
@asampat3090 Would your code actually work though? The image ids ![here](https://github.com/asampat3090/arctic-captions/blob/master/make_flickr_data.py#L74) refer to the whole image collection, whereas ![here](https://github.com/asampat3090/arctic-captions/blob/master/flickr30k.py#L17) you point to an image feature in a subset using the index that is meant for the whole image collection. Or am I m

[2015-10-10 18:51] cxj273 commented on #1
@asampat3090 From my understanding,  [line 54](https://github.com/asampat3090/arctic-captions/blob/master/make_flickr_data.py#L54) is wrong. You can't get all the training captions using the training image idx. Correct me if I am wrong.

[2015-11-04 06:52] xlhdh commented on #1
Hi, can I ask how large those .pkl files are? I tried to make them for the MSCOCO dataset, and the features from VGG for the training set alone take around 75GB. I stored them in scipy.sparse.csr_matrix. According to coco.py, it seems they all get loaded into memory together, so I was wondering if there is anything I was missing...

[2015-11-04 07:30] kelvinxu commented on #1
@xlhdh They are loaded all into memory. It should be something around 15 Gbs. They are all loaded into memory at once, but we unsparsifying them one batch at a time. Are you unsparsifying them all at once?

[2015-11-04 15:54] xlhdh commented on #1
@kelvinxu The original weights were around 15GB, but once I pickle them, they got to like 75... And they were csr_matrix from  top to toe. I guess I'll look at it again to see if there's any bug!

[2015-11-04 16:51] kyunghyuncho commented on #1
It's likely because you didn't use "protocol=cPickle.HIGHEST_PROTOCOL" as
an argument with cPickle.dump.
- K

On Wed, Nov 4, 2015 at 10:54 AM, Yizhou Hu <notifications@github.com> wrote:

[2015-11-05 21:31] zer0n opened #10 "Sample script to train the model"
Hi, do you mind sharing some sample scripts or command lines to train the model?

[2015-11-06 00:18] xlhdh commented on #5
@zcyang would you mind sharing which GPU are you using?

[2015-11-06 00:23] xlhdh commented on #1
@kyunghyuncho Thank you, I used the highest protocol (I thought that was default) and it worked! The only thing I wasn't able to do was to dump the image features to disk all at once so I had to read several files in and assemble them in memory.

[2015-11-07 10:46] kelvinxu commented on #10
Hi, assuming you have the datasets set up, evaluate_coco.py should train the model.

[2015-11-09 03:01] asampat3090 commented on #1
@cxj273 @gamer13 sorry for the delay, I'm not sure I quite understood the issue. So I suppose there might be a mismatch between the "features" and "caps" variables in "prepare_data" [here](https://github.com/asampat3090/arctic-captions/blob/master/flickr30k.py#L17), but if I understand correctly you're saying we would need to re-index all of the image ids? If so, did you guys have any success doin

[2015-11-16 08:17] JonghwanMun opened #11 "no re-ranking?"
Actually, I know that re-ranking gives higher score (for m-RNN, about 3 points gain in terms of BLEU4 score and about 9 points in terms of CIDEr)
I'm wondering that this work does not use re-ranking as other works do? also, no any post-processing?

[2015-11-16 09:35] ryankiros commented on #11
Hi JonghwanMun,

Our work came out a few months prior to Microsoft's nearest neighbour method and Junhua's consensus re-ranking idea. This is why re-ranking is not part of this project.

However, I have tried out Junhua's re-ranking method (not exactly the same, but similar) using our models and have gotten similar performance improvements with CIDEr.

[2015-11-16 09:50] JonghwanMun commented on #11
@ryankiros
Thanks for answering.
Is there an additional performance improvements on BLEU? (which is higher score than in paper - 70.7)

[2015-11-27 09:55] F0Z opened #12 "MemoryError in sampling process (gen_model in generate_caps.py)"
My system configuration is i5-4440k with a 4GB GTX 960. When I run the generate_caps.py for the flickr30k version, I get an error like this:
[code]

I've run ```nvidia-smi``` and there is plenty of memory (~3.5GB and I'm only loading the dev dataset). Also there are no permission issues. Since the error is in declaring shared variables in the gpu through a process, I'm guessing this is due to inab

[2015-11-27 09:59] F0Z commented on #12
BTW, this is what I used to build the model.npz.pkl for the model argument -
[code]

[2015-11-29 09:17] F0Z commented on #12
The issue is resolved by importing capgen inside the process.

[2015-11-29 09:17] #12 closed

[2015-11-29 22:49] intuinno commented on #1
@asampat3090 Thank you for your effort for sharing your script.  I had trouble running this model and your code was very helpful.  I am still struggling.  But here is my suggestions for your code.

## Suggestions
 - It seems like the capgen.py train function requires dictionary with 'A' and it means in your vectorizer code, the options should include following
  - vectorizer = CountVectorizer(anal

[2015-12-03 01:48] xlhdh opened #13 "metrics.py reference format?"
The metrics.py scripts requires a path for the hypothesis files and one for the reference files.
The format for the hypothesis file I assume is the file that is generated by generate_caps.py, but can you please explain the format of reference files, since there are like 5 sentences per image?
Thank you!

[2015-12-03 15:24] gamer13 commented on #13
You could checkout my fork: https://github.com/gamer13/arctic-captions on how I did it. Basically I concatenate the GTs using a separator '<>' and in metric.py (not in my fork) do something like here: https://gist.github.com/gamer13/57500e6a250c378efccb

[2015-12-09 20:38] #10 closed

[2015-12-23 01:50] kracwarlock commented on #13
metrics.py says len(hyp) = len(ref)
how does that work?
coco has 5 reference captions for each image but for each image we will have only one hypothesis caption

[2015-12-28 14:34] quilby opened #14 ""NaN detected" when using 'attn_type': 'stochastic'"
When I set attn_type to deterministic training works fine, when I set it to stochastic I get a 'NaN detected' error and the training halts.
Here is an example output:
[code]

I am using theano version '0.6.0.dev-8e85dbabd78c3932997aaf840832a1bb5c5835b3'

[2015-12-28 15:21] quilby commented on #14
Using an earlier theano commit from Feb 2015 solved this for me. I used commit: b7f4733f47cd9e0f11067a5e67473b5fe7fbf259

[2015-12-31 09:23] #14 closed

[2016-01-07 14:26] ervecherish opened #15 "KeyError: 'A'"
when run the prepare_data() in flickr30k.py ,it always reports an KeyError: 'A'.
Does it mean that my dictionary.pkl is incomplete?

[2016-01-08 16:48] kelvinxu commented on #15
It would seem to indicate that. Did you do some kind of lowercasing in your preprocessing?

[2016-01-08 16:54] kelvinxu commented on #13
I added the tokenized references to the repo. Hope that helps.

[2016-01-08 17:07] kracwarlock commented on #13
Thanks Kelvin. I also figured out how to calculate metrics using a modified version of the coco caption script https://gist.github.com/kracwarlock/c979b10433fe4ac9fb97

You can close this issue now.

[2016-01-08 19:54] kelvinxu commented on #13
Thanks Shikhar!

[2016-01-08 19:54] #13 closed

[2016-01-10 07:47] evercherish commented on #15
i didn't modify the code, should i do lowercasing for the cc[0].split?
would you mind sharing your dictionary.pkl? i still think there are some problems with mine.
by the way, how long did it take you to train the flickr30k?how many epochs?
thx.

[2016-01-12 15:59] kelvinxu commented on #15
No need to lowercase, shoot me your email.

[2016-01-12 15:59] #15 closed

[2016-01-13 03:49] evercherish commented on #15
sword_cg@hotmail.com
thx!

[2016-01-17 09:15] evercherish commented on #15
I guess you have been busy lately. I am sorry to bother you again, but I am really looking forward to your file. So could you please find a minute to send it recently? This e-mail address is available: sword_cg@hotmail.com
Best!

Date: Tue, 12 Jan 2016 07:59:26 -0800
From: notifications@github.com
To: arctic-captions@noreply.github.com
CC: sword_cg@hotmail.com
Subject: Re: [arctic-captions] KeyErr

[2016-01-18 09:41] noureldien opened #16 "'sample = empty string' when trying to train flickr_30k"
Thanks for the sharing the implementation. Please, anybody know why when training, I get the 'truth' = empty string, here is the output of the debugger:

Epoch 1
... Truth  0 :  UNK UNK with UNK white shirt aims UNK dart at an UNK target as several other people holding darts look on beside her UNK
Sample ( 0 )  0 :
... Truth  1 :  UNK man UNK along with three others UNK is standing in snowy and co

[2016-01-18 12:54] noureldien commented on #15
@ervecherish So, please what was the fix for this error? I also get it. Thank you.

[2016-01-18 13:46] evercherish commented on #15
@noureldien  i have no idea either...i am waiting for xu's dictionary file, which i think may work for me.

[2016-01-18 17:03] kelvinxu commented on #15
Sent.

[2016-01-18 17:28] noureldien commented on #15
@ervecherish I'd appreciate if you get me involved (nreldien@yahoo.com), thank you.

[2016-01-18 19:41] noureldien commented on #15
@kelvinxu I know you don't have to deal with this, but please how to create the dictionary? I've spent the whole weak (> 10 hrs a day) trying to get it working with no hope!! This is what I get when training on COCO using 'evalaute_coco.py'. Please help!

... Truth  0 :  UNK UNK filled UNK UNK cars and buildings UNK UNK UNK
Sample ( 0 )  0 :
... Truth  1 :  UNK UNK UNK UNK boards UNK UNK hooks UNK

[2016-01-18 20:02] noureldien commented on #16
Please help, please. I've spent the whole weak (> 10 hrs a day) trying to get it working with no hope!!
I don't know why I'm getting the UNK word??? There must be a problem in creating the 'dictionary' Also, when training on 'coco' using 'evalaute_coco.py', this is what I get:

... Truth  0 :  UNK UNK and UNK car UNK UNK by UNK UNK UNK car UNK
Sample ( 0 )  0 :
... Truth  1 :  UNK cup half full UN

[2016-01-19 12:47] evercherish commented on #15
@kelvinxu thanks very very very…much, i've got it.

[2016-01-19 20:33] kelvinxu commented on #16
Please send me your email, I'll email you the dictionary

[2016-01-20 10:00] noureldien commented on #16
@kelvinxu Thanks for your reply. I emailed @ervecherish and got the dictionary.pkl from him. This solved the problem. It turned out that the method illustrated here (https://github.com/asampat3090/arctic-captions/blob/master/make_flickr_data.py) does NOT create the dictionary the correct way. Consequently, causing problems.

Thank you again for help and for providing your code on GitHub.

[2016-01-20 12:45] #16 closed, assigned to nobody

[2016-01-20 20:32] noureldien commented on #12
@F0Z Please, was you able to replicate the results of the paper using these hyperparameters on flickr_30k? How long (how many training epoch) did it take? Thank you.

[2016-01-20 20:39] noureldien commented on #4
@hyunseokmin Please, did you manage to train the model on flickr_30k? What hyper-parameters did you use, please. Thank you.

[2016-01-22 18:39] parthchadha commented on #15
@kelvinxu @ Hi! Can you please share the dictionary file with me too! I have spent a lot of time and have not been able to solve the problem of KeyError and "coo_matrix' object does not support indexing".

My email id is "parth29@gmail.com"

[2016-01-28 07:14] frajem commented on #1
@kyunghyuncho , @kelvinxu
Hello,
By using default parameters for Coco, soft attention, I get much lower results on the test set than what was published: BLEU-1=0.545, METEOR=0.164, CIDer=0.274.
The only difference I see is that early stop is done on NLL. Can this cause such big gaps?
Also, my coco_align.train.pkl is about 6 GB, and not 15 GB.
Thanks!

[2016-01-28 07:32] rayz0620 commented on #1
I observe that in function `prepare_data()` line 40 of file [`flickr30k.py`](https://github.com/kelvinxu/arctic-captions/blob/master/flickr30k.py#L14), the code set all words with id larger than `n_words` to be 1(UNK). Therefore when we create the dictionary, we should assign id in descending order of word frequency, assign smaller id for words with larger frequency.
@asampat3090 In your [`make_fl

[2016-01-29 13:39] frajem commented on #5
@zcyang On the Coco validation split, soft attention (deterministic), I don't get as high results as yours. For example, I get CIDer: 0.2731, BLEU-1: 0.5446, METEOR: 0.1634. My final cost is 31.37.
I'm trying to understand what is wrong: the features, the dictionary, the way metrics are computed...

[2016-02-03 13:32] frajem commented on #1
Yes, the dictionary has IDs in descending frequency order.
Any idea about why I'm getting so much lower metrics on Coco (see my comment above)?
Thanks.

[2016-02-16 05:56] rowanz commented on #1
Hey all, I've created a script that appears to work for preprocessing. The source is
[here.](https://github.com/rowanz/arctic-captions) It does everything besides create the word-ID dictionary.

[2016-02-16 06:53] frajem commented on #1
Thanks @rowanz
What metrics values do you get, for example for Coco, soft attention?

[2016-02-25 22:27] intuinno commented on #1
Hello, Thank you @rowanz .  I myself struggled for creation of the preprocessing and created a repo for anybody needs it.  You can check it at [here](https://github.com/intuinno/arctic-captions)

[2016-02-26 09:02] vincentliu9 opened #17 "about platform"
Can this code be built on windows installed with theano?I have a problem when build in vs2013:cannot open file "cublas.lib".However,I have already installed theano,anaconda and cuda.

[2016-02-27 22:56] kelvinxu commented on #17
It definitely can. Unfortunately, I'm not very familiar with using Theano on Windows. I'd suggest looking at the theano documentation for windows, or posting on the mailing list.

[2016-03-04 01:00] denglixi opened #18 "question about grads of alphas in hard Attention"
Hello, I feel realy confused about the grads of alphas in hard attention. The source code is in line 1199:

known_grads={alphas:opt_outs['masked_cost'][:,:,None]/10.*
                            (alphas_sample/alphas) + alpha_entropy_c*(tensor.log(alphas) + 1)})

Can anyone explain this to me, please?

[2016-03-09 08:24] WangYueFt opened #19 "Reproduce result"
Hi Kelvin,

After I trained model 2000 epochs, I tried to use generate_caps.py to get the captions. However, the result was meaningless. Is there anything I need to take care of regarding the generate_caps.py?

Thanks

[2016-03-09 21:56] intuinno commented on #19
Hello Wang,

I want to help you.  I am at least getting meaningful captions.  However your question is still too vague and there can be many things that can be broken.  I suggest you look at my fork https://github.com/intuinno/arctic-captions , which has all the required code but with poor documentation.

Thanks.

[2016-03-09 23:37] intuinno opened #20 "Post your evaluation score"
Hello, everyone,

I got the following score after I ran the coco.

{'CIDEr': 0.50350648251818364, 'Bleu_4': 0.20037826460154334, 'Bleu_3': 0.2920434703847389, 'Bleu_2': 0.42775646056296673, 'Bleu_1': 0.6105274018537202, 'ROUGE_L': 0.43556281782994649, 'METEOR': 0.23890246684760072}

So METEOR is almost same.  However my BLEU score are 7~8% lower than paper.  I wonder if this is acceptable or there

[2016-03-10 03:47] WangYueFt commented on #19
@intuinno Thank you very much! I found the way I generated training data was wrong. I am looking into your code. Did you reproduce the flickr8k data? And how was the result?

Thanks,
Yue

[2016-03-10 09:13] johnkorn opened #21 "Generate captions for custom images"
Hello!
I'd like to test your great framework by generating captions for my own set of images.
How can I do that without training (using any pretrained model)?

[2016-03-10 12:35] intuinno commented on #19
@WangYueFt  I did not reproduce flickr8k.  Please use code for coco data set because they are the only one most up to date.

Thanks.

[2016-03-12 14:13] andyyuan78 opened #22 "how to run and get_start?"

[2016-03-18 23:55] ozancaglayan commented on #16
Hi,

I also have empty samples, e.g. beam search returns samples only with an <eos> (0). I think I correctly created the dictionary (eos=0, unk=1 and all the other words in descending frequency order). The validation loss is always approximately 55. Any ideas?

[2016-03-21 03:31] snakeztc commented on #20
Hi, @intuinno what hyperparamter did you pick. I tried to run the on the coco data, the algorithm terminate after 15 epochs and achieved the following scores, which is much lower than yours.

Bleu 1: .527
Bleu 2: .333
Bleu 3: .210
Bleu 4: .138
METEOR: .163
ROUGE_L: .403
CIDEr: .371

[2016-03-21 22:42] ericclei commented on #1
Hi @intuinno, I'm trying to run your prepare_caffe_and_dictionary_coco.ipynb. Could you please explain what the file dataset_coco.json is?

[2016-03-25 16:53] yaxingwang commented on #20
Hi, @intuinno , @snakeztc  I am running this codes based on the flickr8k, for I just try to test this code. I have run it and got visualization, but I don't know how to get the scores--Bleu and METEOR, could you tell which script about it?  Please forgive me if bother you.

[2016-03-29 17:20] smt-HS commented on #16
Hi, @noureldien , I met the same problem as you did. If possible, can you email me the dictionary.pkl? zhiwen.tom.tang@gmail.com

Thank you very much!!

[2016-03-31 08:08] AAmmy commented on #20
Hi, @intuinno, @snakeztc, @yaxingwang my flickr8k scores with parameters in capgen.train() are
BLEU = 0.504 / 0.270 / 0.145 / 0.082
Max are
BLEU = 0.550 / 0.296 / 0.164 / 0.095
with parameters in eval_coco, + optimizer = rmsprop .
My scores are lower than paper:
BLEU = 0.670 / 0.457 / 0.314 / 0.213

@yaxingwang
metrics.py or I am using a neuraltalk's script(see my repository)

[2016-03-31 08:22] yaxingwang commented on #20
Hi @AAmmy , I am also get similar results like you. But BLEU-1 you get is batter then me(0.30).  Do you do normalization for Dataset? After it, I get less result. The metrics.py is used to get results.

[2016-03-31 08:31] AAmmy commented on #20
@yaxingwang
I did not normalize Dataset.
My preprocess:
1. center crop images
2. resize images to 224x224
3. extract features with VGG_ILSVRC_19_layers

token and train, valid, test are the same with the files in Flickr8k_text.zip

[2016-03-31 08:56] yaxingwang commented on #20
Yes, we am same. I did it, since the result is poor.
for me :
1, if width > height:
    width = (width \* resize) / height # resize = 256
    height = resize
  else:
    height = (height \* resize) / width
    width = resize
2, center crop images to 224x224
3, extract features by Vgg_layers5_4
I am confused whether all parameters are same for three dataset, I just run the code offered by  @intuinn

[2016-03-31 09:17] AAmmy commented on #20
@yaxingwang I think intuinno's evaluate_flickr8k.py's parameters are for coco and flickr30k, the parameters for flickr8k and for flickr30k, coco are not same.(5.2 in paper)

I think parameters in original capgen.py file are for flickr8k.(I used this, stopped around 70epoc)

I also did flickr8k learning with the parameters for coco
(same as intuinno evaluate_flickr8k.py, so same with you?),
the sor

[2016-03-31 09:50] yaxingwang commented on #20
@AAmmy , Thank you.  I try to do the both flickr30k and coco, but I guess the  memory of my computer is too small to process the flickr30, so I am doing it. Do you met the question when doing the flickr30k, It notes MemoryError.

When using epoch = 10, 20, the result is less good than the matter the script early stop . I think got epoch by early stop is not the best, for it has not strong relation

[2016-03-31 10:17] AAmmy commented on #20
@yaxingwang I have the same memory problem on coco, and process for sparse to dense is too slow, so I extracted feature into one file for each image.

I changed code and data format like below.

caption example:

[code]

('a dog running' and 'dogs running' are captions for OOO.jpg,
OOO.jpg is the image file name, OOO.jpg.mat will be the feature from OOO.jpg)

In flickr.py or coco.py:

In prepare_d

[2016-03-31 10:24] yaxingwang commented on #20
@AAmmy , Thanks.

[2016-04-01 14:40] ozancaglayan commented on #20
I also created my own scripts to prepare the data. I completely skipped the sparse matrix stuff since I think it's not needed at all. I have a [single hdf5](https://staff.fnwi.uva.nl/d.elliott/wmt16/conv54_vgg_feats_hdf5-flickr30k.mat) file with CONV5_4 features from VGG19 network for Flickr30k (around 12GB). This file contains all the image features for all splits in the following order: `train`,

[2016-04-11 22:33] volkancirik commented on #20
@intuinno, your results are closest the reported coco results, which hyper-parameters have you used?

@kelvinxu , @kyunghyuncho , paper does not mention hyper-parameters for different datasets. would you mind providing this information? (plus maybe even the models themselves which are not big for a dropbox/gdrive file)

[2016-04-12 08:49] ozancaglayan commented on #20
Hi everybody,

I'd like to share my observations and experimentations about the code on Flickr30k dataset:

**Preprocessing:**
- I have a separate HDF5 file for train/dev/test splits containing the convolutional features extracted from Flickr30k dataset using VGG19 network. Since the current way of creating a PKL file with captions and sparse matrices is so inefficient (it even doesn't work with P

[2016-04-15 07:09] AAmmy commented on #20
~~The BLEU result of multi-bleu.perl and pycocoevalcap are very different. I got 65% on BLEU1 with multi-bleu.perl, but bleu.py in pycocoevalcap showed around 50% on the same samples and GTs.~~
Nothing

[2016-04-20 02:32] 2g-XzenG commented on #19
Hello @intuinno , I try your code, and I am a little confuse about path in your prepare_coco.py,
vgg_deploy_path = '/home/intuinno/codegit/caffe/models/vgg_ilsvrc_19/VGG_ILSVRC_19_layers_deploy.prototxt'
vgg_model_path  = '/home/intuinno/codegit/caffe/models/vgg_ilsvrc_19/VGG_ILSVRC_19_layers.caffemodel'
can you explain a little bit about these two?
Thank you very much!

[2016-04-22 05:23] AAmmy commented on #20
Hi, @ozancaglayan
Could you share your code handling batch normalization process, plese?

[code]

[2016-04-22 10:02] frajem commented on #20
Hi @intuinno
Would you share the model file trained on Coco?
Also, what are your best validation/test cost for Flickr8k and Coco?
Thanks.

[2016-04-27 08:48] AAmmy commented on #19
@wahahayawahaha You can google those names and download them.

[2016-05-05 14:00] chenfsjz opened #23 "train error!"
when I train the model,there comes the error:

[code]

[2016-05-06 11:29] Lorne0 commented on #1
Could anyone tell me how much time does asampat3090's make_flickr_data.py take if I use GPU?

[2016-05-07 04:27] Lorne0 opened #24 "MemoryError"
I tried to implement it on GPU without any revise of the hyperparameters(only the path). However, I got
**MemoryError: Error allocating 25690112 bytes of device memory (out of memory).**
when it was on epoch 2.
I'm not sure if I use wrong command:
**THEANO_FLAGS='mode=FAST_RUN,floatX=float32,device=gpu0' python evaluate_flickr30k.py**
It shows **CNMeM is disabled.**
Then I try:
**THEANO_FLAGS='mod

[2016-05-08 13:14] #23 closed, assigned to nobody

[2016-05-09 01:41] Lorne0 commented on #20
So does anyone get better score on coco?
I used @intuinno 's code and I got similar score with him(one the top of this issue) in the end (17epochs).
However, when I calculated the score on epoch 10, it turned out to be better than 17th epoch, which is
BLEU: 0.6398/0.4518/0.3127/0.218/ METEOR:0.2384

[2016-05-09 01:45] Lorne0 commented on #24
After use intuinno's code this problem is disappeared.

[2016-05-10 01:51] chenfsjz opened #25 "how to set decay_c when train the net?"
The init value of decay_c is 0,how to set this value when use the L2 regularization

[2016-05-10 03:33] arvind2505 opened #26 "Instructions to re-train the model: where to start?"
Is there a step-by-step instruction on how to train the model on COCO dataset? I cloned the repo and tried running capon.py but that didn't work.

[2016-05-12 00:55] AAmmy commented on #20
I got
BLEU: 0.6887/0.5034/0.3588/0.2547
METEOR: 0.2234
on COCO with
http://cs.stanford.edu/people/karpathy/deepimagesent/
the feature size is 4096, so I used them by reshaping 8x512.
However Flickr8k training was failed.
I didn't try on Flickr30k.

[2016-05-13 12:24] Lorne0 commented on #1
I forked @intuinno 's work and added some codes and a simple doc in README.md . (No need dataset_coco.json)
https://github.com/Lorne0/arctic-captions
Hope it's helpful.

[2016-05-14 14:40] Litchiware commented on #1
Just run this one line script to generate file `dictionary.pkl`.
`cat flickr8k/Flickr8k_text/Flickr8k.token.txt | awk -F '\t' '{print $2}' | awk '{for(i=1;i<=NF;i++) print $i}' | sort | uniq -c | sort -nr | awk '{print $2,NR+1}' | python -c "import sys; import cPickle as pkl; pkl.dump(dict([line.strip('\n').split(' ') for line in sys.stdin.readlines()]), open('features/dictionary.pkl', 'wb'))"`

[2016-05-17 00:04] athenspeterlong commented on #1
Hello @Lorne0 , thank you so much for your code. It helps me a lot to reproduce the project.
I am looking into the code and have a question, for the preprocess.sh, why do the crop 224_224 instead of stay 256_256?
Thanks

[2016-05-21 16:06] xinghedyc commented on #20
@AAmmy Hi，I tested your code, and got 'Bleu_4': 0.276, 'Bleu_3': 0.367, 'Bleu_2': 0.497, 'Bleu_1': 0.668 with beam_size = 10.
was your result based on beam_size of 1?

[2016-05-22 08:38] Lorne0 commented on #20
@AAmmy @xinghedyc  Could you please explain about using http://cs.stanford.edu/people/karpathy/deepimagesent/ for me?
You used that for extracting features?

[2016-05-22 08:44] vyouman commented on #1
Hi, @athenspeterlong. Because the pretrained CNN requires 224*224 input, we should crop the images at first to feed them to CNN.

[2016-05-22 08:47] xinghedyc commented on #20
@Lorne0 Hi, what you could download form that website is a coco dataset  as COCO (750MB)http://cs.stanford.edu/people/karpathy/deepimagesent/coco.zip,
the vgg_feats.mat contains extracted features through the vgg-net as 4096-dimention for each image, and json file contains all the captions.
for more details you can read their paper.

[2016-05-22 08:54] Lorne0 commented on #20
@xinghedyc Thank you. But I still not understand. The feature is 4096 , and @AAmmy said reshaping it as 8x512, and then? Which 8 of the new features should I use?

[2016-05-22 12:01] xinghedyc commented on #20
@Lorne0 I think 8×512 means 8 annotation vectors which the author's paper defines them as
a = {a1,...,aL}, ai ∈ RD, you can refer section 3.1.1 in the paper.
The original code uses 196 × 512 as the annotation vectors, so @AAmmy tested 8 annotion vectors in soft attention mode by using the dataset above, it actually works.

[2016-05-22 14:42] Lorne0 commented on #20
@xinghedyc Thank you~
I just ran 3 epochs but I use metrics.py I always got
**IOError: [Errno 32] Broken pipe**
in **pycocoevalcap/meteor/meteor.py**
Did you have this problem?

[2016-05-22 14:49] xinghedyc commented on #20
@Lorne0 Yes,I also got this problem,so I just comment that line in the metrics.py
like this
scorers = [
        (Bleu(4), ["Bleu_1", "Bleu_2", "Bleu_3", "Bleu_4"]),
        #(Meteor(),"METEOR"),
        #(Rouge(), "ROUGE_L"),
        #(Cider(), "CIDEr")
    ]
This is because I care more about bleu, but you could try to fix this problem :)

[2016-05-22 14:51] Lorne0 commented on #20
@xinghedyc I think METEOR is important too.
I'll try to fix it, thank you~
@AAmmy could you help us about this problem?

[2016-05-22 15:37] Lorne0 commented on #20
@xinghedyc I think I found the solution
Just delete the pycocoevalcap/ and clone the newest one :)

[2016-05-22 15:40] xinghedyc commented on #20
@Lorne0 OK, I'll check it.

[2016-05-23 01:26] AAmmy commented on #20
@Lorne0 @xinghedyc
My result BLEU: 0.6887/0.5034/0.3588/0.2547 METEOR: 0.2234
is based on beam_size 1. I checked only on epoch 19.
May be there some other epoch results show more better score. (in epoch from 1 to 18)
References were made by code written in scripts.py.

[2016-05-23 05:37] xinghedyc commented on #20
@AAmmy thanks, I got bleu-4 23.9 if I use beam size 0f 1, but got 27.6 use beam size of 10.
I only trained 11 epochs.  maybe more epochs should be trained.

[2016-05-26 02:05] vyouman opened #27 "Instruction to visualize hard attention"
Hi, thanks for sharing the code. I expect the alpha_visualization.ipynb to visualize hard attention just like what the paper represented. But I trained a stochastic one and visualize it , then I got visualization like the soft one. Has anyone successfully visualize the hard attention and give me some instrustions on how to do it? Thanks. :)

[2016-05-26 10:57] vyouman commented on #27
Have got
bleu1  bleu2    bleu3   bleu4    meteor
67.0       49.0 35.0        24.9    22.8
on MSCOCO dataset. However, it doesn't seem to attend to the right place though the sentence is pretty good. I follow the instruction of @Lorne0 and modify the attention type to stochastic one. To be clear, the visualization is almost the same at all time steps. In other words, the attention weights doesn't s

[2016-06-04 04:04] kelvinxu commented on #20
@xinghedyc @AAmmy Just to confirm, the results you get for increasing the beam size are correct. At the time of publication, we were using a beamsize of 1 (mea culpa!!!)

[2016-06-07 18:11] AMDS123 commented on #27
I have the same problem too.

[2016-07-05 12:51] Avi-123 opened #28 "argument 'model' in the 'main function' (generate_caps.py)"
What input should be given to model?
Is there any model file for this argument or I have to create?

[2016-07-14 10:17] wenhuchen opened #29 "Split problem"
I found the split of test/val is different from what is given in karpathy/neuraltalk2.
According to their script
https://github.com/karpathy/neuraltalk2/blob/master/coco/coco_preprocess.ipynb

They tried to get first 5000 as val, 5000-10000 as test from this dataset http://msvocds.blob.core.windows.net/annotations-1-0-3/captions_train-val2014.zip. But when I output the filename, I found it's total

[2016-08-02 02:21] vanpersie32 opened #30 "cannot figure out the code"
I have comprehended the image caption attention model. But I still cannot figure out how the image caption attention model is set up in theano. The code is too hard for me. Who else has similar problems?

[2016-08-09 19:55] dipanjan06 commented on #1
Hi ,@intuinno , thank you for sharing the preprocessing code. I am using Flicker8k dataset and was able to build the necessary .pkl files and dictionary using prepare_flickr8k.py.
Now I am trying to run the train function  using evaluate_flickr8k.py but I am getting "coo_matrix object does not support indexing" in flickr8k.py line no 16 ..

Any idea why this is happening ..

Thanks

[2016-08-26 06:54] Kyubyong opened #31 "How soon does the sanity check look like working fine?"
I'm running the capgen.py, but the results of the sanity check don't look meaningful. Basically, the five generated captions  for each image are all null or "a". How soon can I see if it works? I just want it to show any random words, not null or 'a'. Or do I have to be patient and wait for a few hours until it generates meaningful captions?

[2016-08-31 01:03] #31 closed, assigned to nobody

[2016-09-06 04:02] fancyerii opened #32 "where is model_name.npz?"
any tutorial for the codes? I can hardly understand all these files.
I run the ipynb cells and can't find model_name.npz. It seems dev_list and image_path also need be specified.

datasets = {'flickr8k': (flickr8k.load_data, flickr8k.prepare_data),
             'flickr30k': (flickr30k.load_data, flickr30k.prepare_data),
             'coco': (coco.load_data, coco.prepare_data)}
# location of the mo

[2016-09-08 14:24] jetsmith commented on #1
@Lorne0, I have tried to reproduce your results using your code，when I run the prepare_model_coco.py，some errors happen：
val（5000,100352）
train （5000，100352）
Traceback (most recent call last):
  File "prepare_model_coco.py", line 70, in <module>
    result = np.empty((numImage, 100352))
MemoryError
I don't know why it happens？
thanks

[2016-09-22 23:09] ramavedantam opened #33 "Bug in doubly stochastic attention?"
It seems like when computing the [doubly stochastic attention](https://github.com/kelvinxu/arctic-captions/blob/master/capgen.py#L1177), the code is doing:

`alpha_reg = alpha_c * ((1.-alphas.sum(0))**2).sum(0).mean()`

As per my understanding alphas is of dimensions [sequence_length, batch_size, feature_map_spatial_extent] which for vgg conv5 would be 14 x 14 = 196.

This means that we are averag

[2016-10-14 11:50] yuvval opened #34 "A bug in setting Adam optimizer learning rate?"
Hi,
Looks like the Adam optimizer learning rate is not affected by the function input and is fixed to
lr0=0.0002
https://github.com/kelvinxu/arctic-captions/blob/master/optimizers.py#L83

Is this an intended behavior?
Thank you

[2016-10-19 09:41] ilkerkesen opened #35 "Trained Models"
I am not sure it is true way to ask this question, but have you published any pretrained models on any dataset?

[2016-11-18 10:29] elliottd commented on #34
@yuvval I don't think this should be the intended behaviour. You can make change the code to allow it to be user-definable in the function definition in `optimizers.py`.

The version of Adam implemented here has now been superseeded, so you might want to check the [latest version of the paper](https://arxiv.org/abs/1412.6980) for more details on the default hyperparameters.

I have implemented bot

[2016-11-18 11:19] elliottd commented on #35
@ilkerkesen I have a [pretrained model and extracted features](https://github.com/elliottd/satyrid/blob/master/README.md#data--pre-trained-model) for the Flickr30K dataset. Hope this helps!

[2016-11-18 11:29] ilkerkesen commented on #35
@elliottd thanks a lot!

[2016-11-26 08:54] pankajb64 commented on #32
+1. Kindly mention where to get the models from so we can get the code to run.

[2016-11-26 09:06] pankajb64 commented on #32
Got it from #35

[2016-12-06 03:42] ysjakking opened #36 "Questions or bugs in the adam optimizer"
From line 84,85 and 97,98 of the optimizer.py , we can see  the  b1 and b2  here are  correspond to '1-b1'  and '1-b2' respectively  of the original  adam paper, i.e., 'Adam: A Method for Stochastic Optimization" Kingma et al. (ICLR 2015)'.   However,  I am confused by line 90,91.
 I think the code should be :
 fix1 = 1. - (1-b1)**(i_t)
 fix2 = 1. - (1-b2)**(i_t), instead.   Because the b1 and b2

[2016-12-07 20:50] JunjieHu commented on #12
@F0Z  I have the same problem.  Can you describe more specifically where you import capgen?  I try import capgen at the beginning of the function gen_model() in the file of generate_caps.py.  But it doesn't resolve the problem.  Thanks

[2016-12-08 06:36] ysjakking commented on #18
@denglixi I am also confused by this. Did you find the answer？

[2017-02-20 08:52] vanpersie32 opened #37 "why don't finetune cnn?"
hey, I have noticed that cnn-lstm model can benefit a lot from fine-tuning cnn. But why the code don't fine-tune cnn?

[2017-02-23 19:18] zym1010 opened #38 "question about "doubly stochastic attention""
As I'm reading the paper, I don't understand, for the soft attention version, why we encourage `\sum_{t} a_{ti} \approx 1`, as I feel `C/L` would be more appropriate, since `\sum_{t,i} a_{ti} = C`.

[2017-02-23 19:57] kelvinxu commented on #37
Hi, as we explain in the paper, this would complicate comparisons. Of course, improving the vision features would help a lot.

[2017-02-23 19:57] #37 closed, assigned to nobody

[2017-02-23 19:58] kelvinxu commented on #38
Hi, we have a note of this in the paper. What you suggest is correct, for the results we reported though we used 1. This didn't really change the results in our experience.

[2017-02-23 19:58] #38 closed, assigned to nobody

[2017-02-23 19:58] kelvinxu commented on #34
Thanks @elliottd!

[2017-02-23 19:59] #34 closed, assigned to nobody

[2017-02-23 20:03] zym1010 commented on #38
@kelvinxu thanks!

[2017-02-23 20:14] #11 closed

[2017-02-23 20:26] #35 closed, assigned to nobody

[2017-02-23 20:26] #24 closed, assigned to nobody

[2017-05-24 10:49] DongNaeSwellfish commented on #20
I got bleu1 0.685 bleu2 0.507 bleu3 0.363 bleu4 0.258 meteor 0.234 rouge_L 0.505 cider 0.836

[2017-05-24 11:15] ammmy commented on #20
In these days, I use Capgen and VQA model on Tensorflow. It's very flexible. I can share the code if needed.

[2017-06-19 14:10] CathyW77 opened #39 "How to get start and How the convolution works out"
Hi, Kelvin

I wanna to run your code, but I don't know how to start.

I download some  corpus, I get the data  "dataset.json" , is that what I need ?

Also, I wanna to know how the convolution in  "encoder" works, can you give me an example?

For example , here comes a 3-D matrix (100*200*3) , how can I set my "filter(extract)" , the 3-D or 2-D or others?      and what the result be ?

Best wishes

[2017-07-04 09:23] porcofly commented on #20
@AAmmy Could please share your code on tensorflow？

[2017-07-06 08:14] #30 closed, assigned to nobody

[2017-07-10 18:54] ammmy commented on #20
@porcofly
https://drive.google.com/open?id=0B9SwS-q4-5HxdUdHdG9yYjZQQjQ
model 1, 2 are based on
https://github.com/jazzsaxmafia/show_attend_and_tell.tensorflow
https://github.com/yunjey/show-attend-and-tell
respectively.

[2017-08-24 14:30] elliottd commented on #36
I have implemented a more recent version of the Adam optimizer [here](https://github.com/elliottd/satyrid/blob/master/optimizers.py#L79)

I hope this helps.

[2017-08-24 14:32] elliottd commented on #39
@CathyW77, perhaps the instructions in [this fork](https://github.com/elliottd/satyrid) and the associated training data  can help you get started. Good luck!

[2017-09-26 07:48] SijieSong commented on #18
@denglixi @ysjakking Did you figure out the answer? I am also confused. Can anyone help me?

[2017-12-26 13:50] juyeonKang opened #40 "Can I get pkl files?"
I would like to have 'coco_align.train.pkl' and other pkl files.
I tried
 https://github.com/intuinno/arctic-captions
 https://github.com/rowanz/arctic-captions
 https://github.com/Lorne0/arctic-captions
but failed. Please help me..

[2018-01-02 08:42] shaoxuan92 opened #41 "f_init = theano.function([ctx], [ctx]+init_state+init_memory, name='f_init', profile=False)"
Excuse me, I don't quite understand what the output of ` [ctx]+init_state+init_memory` means in this theano.function `finit`  .Besides in functions of ` rval = f_init(ctx0)`,`ctx0 = rval[0]`,` next_state.append(rval[1+lidx])`, what exactly is f_init. As far as I am concerned,` init_state` and` init_memory` are just we want. Why do we bother to add them up? Thank you.

[2018-01-06 04:32] shaoxuan92 commented on #20
Excuse me, how long does this training process roughly take? I have run it for about 12 hours, and it is still stuck in epoch 1. I really don't know what's wrong with it? My GPU is` Quadro K4200 `. Thank you...

[2018-01-19 13:17] shaoxuan92 commented on #18
Me too...

[2018-04-12 17:22] leqo-c opened #42 "Where can I get "model_name.npz" to run the Jupyter Notebook example?"
Can you please provide a pretrained model on any of the three datasets (coco, flickr8k, flickr30k)? Or, at least, an indication on where to find it?
I was trying to replicate the experiments in the Jupyter Notebook

[2018-04-12 19:42] kelvinxu commented on #42
I haven't been able to find a consistent place to host models, so for the time being you are going to have to retrain your model from publically available datasets.

[2018-04-12 19:42] #42 closed, assigned to nobody

[2018-09-04 09:19] zBabar commented on #39
I want to run this on my own dataset.... is there any kind of specific format it needs? How to prepare dataset? Flow of the code?

[2018-09-04 09:21] zBabar opened #43 "Dataset Format and Flow of Code"
I want to run this on my own dataset.... is there any kind of specific format it needs? How to prepare dataset? What is the Flow of this code?

Any body know any kind of Tensorflow implementation of this code? which must have beam search as well...

[2018-09-17 12:27] zBabar commented on #17
is there any TensorFlow base code available for this model?

[2018-09-17 12:28] zBabar opened #44 "Tensoflow implementation of this model?"
is there any TensorFlow base code available for this model?... I found one but that does lack some core properties

[2018-09-28 00:50] ChiZhangRIT commented on #20
I am wondering why pycocoevalcap gives me a different BLEU score compared to multi-bleu.perl? I found 2 sentences and calculate the BLEU score manually, the result matches with multi-bleu.perl but not pycocoevalcap. What algorithm exactly does pycocoevalcap use?

[2018-10-04 10:59] xxxyyyzzzz commented on #1
@rowanz  Thanks for ur preprocessing code using pkl files. In your code I can see that the training imgs include restval set also. Is that recommended by the author @kelvinxu! Can you clarify the reason behind it?
It will be really helpful for me. Thanks in advance

[2018-10-26 04:56] xxxyyyzzzz commented on #16
Hi, @noureldien , I have the same issue. If possible, can you email me the dictionary.pkl for coco dataset?
janulucky97@gmail.com

[2018-10-29 06:34] kavithasampath commented on #20
@ammmy
Thanks for sharing your tensor flow based repo. If you could share the script to generate the following files (that you have used in your implementation) it will be very useful
"tokens.npy",
"tokens_flat.npy",
"filename.npy",
"filepath.npy",
"vgg_feats.npy",
"tokens_flat_to_image_lookup.npy"

[2018-10-29 08:45] xxxyyyzzzz commented on #20
@ammmy
Can you post accuracy numbers for below tensorflow based implementations?
https://github.com/jazzsaxmafia/show_attend_and_tell.tensorflow
https://github.com/yunjey/show-attend-and-tell

[2019-06-16 10:25] AlvinAi96 commented on #18
@denglixi @ysjakking@denglixi@shaoxuan92  Any solution did you get? I also come across this problem.

[2019-06-16 10:25] AlvinAi96 commented on #18
@denglixi @ysjakking @shaoxuan92 @SijieSong Any solution did you get? I also come across this problem.

[2019-09-10 16:30] Shanzaay commented on #27
@vyouman and @AMDS123 can you guys tell me how to start the code and train the dataset.

[2019-09-12 11:38] Shanzaay opened #45 "Step by step readme file"
Hi Kelvin, I am studying the image and video captioning. And I found your paper. Which is very well explained. I want to try your model but I am just very confused as the readme file you provided isn't really helping. Can you please explain me how to get started with your model. Like what file is for features extraction, caption generation, training, evaluation, etc.

Kind Regards

[2020-11-24 05:29] Ming-360 commented on #39
Is this code running? Can you tell me how to get start?

[2020-11-24 05:32] Ming-360 commented on #39
Excuse me !    have you run the code ? Could you tell me how to run it ? thank you !